{% extends "home.html" %}
{%load static%}
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title"><a href="/products/create/" class="glyphicon glyphicon-plus">Add</a></h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered">
              <tbody><tr>
                <th style="width: 10px">#</th>
                <th>Name</th>
                <th>Barcode</th>
                <th>Sell Price</th>
                <th>QTY Instock</th>
                <th>Photo</th>
                <th>Action</th>
              </tr>

               {%for col in products%}
               <tr>
                <td>{{col.id}}</td>
                <td>{{col.product_name}}</td>
                <td>{{col.barcode}}</td>
                <td>{{col.sell_price}}</td>
                <td>{{col.qty_instock}}</td>
                <td>
                  <img src="/media/{{col.photo}}" width="50">
                </td>
                <td>
                  <a href="/products/edit/{{col.id}}" class="glyphicon glyphicon-edit">Edit</a>
                  <a href="/products/delete_by_id/{{col.id}}" class="glyphicon glyphicon-trash text-danger">Delete</a>
                </td>

              </tr>
               {%endfor%}

               

             
            </tbody></table>
          </div><!-- /.box-body -->
          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
              <li><a href="#">«</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">»</a></li>
            </ul>
          </div>
        </div><!-- /.box -->
    </div><!-- /.row -->

  </section>
</div>

  {% endblock %}
